@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #fff;
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: 'Avenir';
  src: url('./fonts/Avenir.otf') format('opentype');
}


.font-face-gm {
  font-family: "Avenir";
}


/* color codes
1 : #000000
2. #3D0000
3. #950101
4. #FF0000

*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #950101;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #950101;
}
